.doc-link-container,
.doc-icon-container {
  display: inline;
  position: relative;
}

.doc-link-ref {
  pointer-events: none;
  display: inline-block;
  color: transparent;
  font-size: 12px;
  position: absolute;
  left: 2px;
}

.doc-link {
  color: #034575;
  position: relative;
}

.doc-link-underline {
  border-bottom: 1px solid #99c;
}

.pre {
  max-width: 50em;
  margin: 1em auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-break: anywhere;
}

.jsondoc .pre {
  max-width: calc(50em + 70px);
}

.line-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.line {
  display: inline-block;
  min-height: 1.1em;
  font-family: "Roboto", Helvetica, Arial, "Hiragino Sans", sans-serif;
}

.jsondoc .line {
  font-family: monospace, "Roboto", Helvetica, Arial, "Hiragino Sans",
    sans-serif;
  font-size: 15px;
}

.indent {
  position: absolute;
  display: inline-block;
  width: 1px;
}

.content {
  display: inline-block;
}

.title {
  font-size: 1.7em;
  color: #444;
  margin-bottom: 24px;
  margin-top: 12px;
}

.char,
.image {
  display: inline-block;
}

.char {
  display: inline;
  user-select: auto;
}

.bracket {
  color: #9e9e9e;
}

.tab {
  color: rgba(0, 0, 0, 0.4);
}

.json-mark {
  color: rgba(0, 0, 0, 0.6);
}

.content.quote {
  background-color: #f2f2f2;
  border-left: 2px solid #a0a0a0;
}

.textdoc .content.quote {
  padding: 0 4px 0 8px;
}

.jsondoc .content.quote {
  padding: 0 4px 0 4px;
  position: relative;
  left: -6px;
}

.textdoc .char.quote {
  position: absolute;
  color: transparent;
}

.anchor-image-container .image-container {
  border-bottom: 1px solid #99c;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 8px 0;
  width: fit-content;
  height: fit-content;
}

.image-notation {
  position: absolute;
  display: inline-block;
  bottom: 1px;
  left: 2px;
  font-size: 12px;
  white-space: pre; /* nowrap */
}

.nopre {
  white-space: break-spaces;
  line-break: auto;
}

.image-notation a,
.image-notation span {
  color: rgba(0, 0, 0, 0.1);
}

.icon-notation {
  position: relative;
  width: 1px;
  margin-left: -1px;
  overflow: hidden;
}

.icon-notation span {
  color: transparent;
  font-size: 10px;
}

.image-notation a:hover {
  color: #034575;
}

.image {
  border-radius: 1px;
  max-width: 300px;
  max-height: 300px;
}

.image-container img,
.doc-icon-container img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  /* 落ち着いた感じに見せるテクニック */
  opacity: 0.95;
  background: rgba(84, 80, 78, 0.05);
}

.doc-icon-container img {
  background: transparent;
  opacity: 0.8;
}

.menu-link {
  color: #034575;
  text-decoration: underline;
}

.edit-link:hover {
  color: #034575;
  border-bottom: 1px solid #99c;
}

.doc-scrapbox-link:hover {
  color: #034575;
}

.doc-scrapbox-icon,
.doc-scrapbox-icon-label {
  position: relative;
  display: inline-block;
  height: 1.2em;
  top: -0.2em;
}

.doc-scrapbox-icon-label {
  top: 0;
  user-select: none;
  opacity: 0.95;
}

.preview-area {
  /* display: none; */
}

.preview-area iframe {
  display: none;
  width: 100%;
  /* border: 2px solid #8f6b00; */
  /* background-color: #fef7e0; */
  /* W3C Draft */
  border: 2px solid #dfcb52;
  /* border-left: px solid #dfcb52; */
  background-color: #fcfaee;
  margin-left: -10px;
  box-sizing: content-box;
  border-radius: 2px;
  user-select: none;
  overflow: hidden;
  margin-top: 2px;
}

a.active-frame {
  border-bottom: 2px solid #dfcb52;
  /* background-color: #fcfaee; */
  /* border-radius: 2px; */
}
